@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
  margin: 0;
  background-color: #fff;
  color: #2a2a2a;
}

img {
  width: 20%;
  display: block;
}

h2 {
  font-family: 'Kanit', sans-serif;
  font-size: 1.3em;
  line-height: 1.6em;
  margin: 6px 0 0 0;
}

p {
  font-family: 'Kanit', sans-serif;
  font-size: .8em;
  font-weight: 100;
  line-height: 1.7em;
  margin: 4px 0 0 0;
  padding: 0 0 4px 0;
}

h3 {
  display: block;
  font-family: 'Kanit', sans-serif;
  font-size: 1.10em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: 300;
  unicode-bidi: isolate;
}

.main-container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 970px;
  min-width: 650px;
}

.top-header {
  background-color: #000;
  padding: 30px 10px;
  box-shadow: inset 0 0 2px #000000;
  margin-bottom: 12px;
  display: flex;
  align-items: center;
}

h1 {
  margin: 0;
  color: #000000;
  text-align: center;
  display: block;
  text-shadow: -1px 1px 3px rgb(42, 54, 39);
  font-family: 'Kanit', sans-serif;
  font-weight: 300;
  font-size: 3em;
}

.sidenav {
  display: inline-block;
  width: 26%;
  margin: 0;
  border-radius: 6px;
  background-color: #3d6e47;
  box-shadow:  1px 1px 10px rgba(0, 0, 0, 0.2); 
}

.sidenav ul {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.sidenav ul li {
}

.sidenav ul li a {
  display: block;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-size: .9em;
  padding: 10px 20px;
  height: 20px;
  width: 100%;
  color: #000000;
}

.sidenav ul li a:hover {
  background: #b4b4b4;
}

.content-row {
  width: 100%;
}

.content-row:before,
.content-row:after {
  display: table;
  line-height: 0;
  content: "";
}

.content-row:after {
  clear: both;
}

.content-row > * {
  display: block;
  float: left;
}

.content-area {
  width: 68%;
  margin-left: 20px;
}

section {
  border-bottom: 1px dotted gray;
}

@media screen and (max-width: 320px) {
  .main-container {
    max-width: 320px;
    min-width: 0;
    padding: 0;
  }
  .top-header {
    padding: 5px 10px;
    margin-bottom: 0;
  }
  h1 {
    font-size: 1.5em;
  }
  h2 {
    line-height: 1.2em;
    padding: 0;
  }
  .sidenav {
    width: 100%;
    margin: 0;
    border-radius: 0;
  }
  .content-area {
    width: 98%;
    margin: 0 4px;
  }
}

#voltar-topo a {
  padding-left: 20px;
  color: #000;
  font-size: 0.9em;
  text-decoration: none;
  font-family: 'Kanit', sans-serif;
  font-weight: 700;
}

footer {
  padding: 1% 5%;
  text-align:center;
  background-color: #3d6e47;
  color: black;
  font-family: 'Kanit', sans-serif;
}